<html>
    <head>
        <title>AMTB repeater</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <style>
body { text-align: center; }
button, input { padding: 0.5rem 1.5rem; }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <body>
        <h1 class="text-3xl font-bold">AMTB repeater {{datetime}}</h1>
        <div id="startdiv">
            <div class="mt-4 w-full flex justify-center">
                <div class="m-4">
                    <div class="text-xl pb-2">number of times to repeat</div>
                    <input type="number" id="target" placeHolder="update target" class="border-2 p-2"/>
                </div>

                <div class="m-4">
                    <div class="text-xl pb-2">playbackRate</div>
                    <select id="playback" style="padding: 0.25rem">
                        <option value="0.25">0.25</option>
                        <option value="0.50">0.50</option>
                        <option value="0.75">0.75</option>
                        <option value="1.00" selected>1.00</option>
                        <option value="1.25">1.25</option>
                        <option value="1.50">1.50</option>
                        <option value="1.75">1.75</option>
                        <option value="2.00">2.00</option>
                    </select>
                </div>
            </div>

            <div class="mb-4">
                <input name="endsound" type="checkbox" id="endsound" checked/>
                <label for="endsound">off the audio at the very end</label>
            </div>

            <button onclick="start();" class="bg-stone-300 py-2 px-4 hover:bg-slate-300">start</button>
        </div>
        <div id="enddiv" style="display:none;" class="mt-4">
            <button onclick="stop();" class="bg-stone-300 py-2 px-4 hover:bg-slate-300">stop</button>
        </div>
        <hr />
        <h1 id="leftdiv" style="display:none;" class="mt-4">
            <span class="text-3xl mt-4">
                <span id="counter">---</span>/<span id="total"></span> times
            </span>
            <br />
            (~ <span id="ctime"></span>)
        </h1> <h2 id="notice" class="text-sm text-red-400"></h2>
        <audio id="sound"><source src="test.mp3"></source></audio>
        <script>
const state = {};
const sound = $("sound");
const counter = $("counter");
function $(idname) {
    return document.getElementById(idname);
}

function start() {
    const num = parseInt(($("target").value || 10)/10, 10);
    state.playbackTimes = num + 1;

    refresh();
    sound.loop = true;
    sound.addEventListener('timeupdate', refresh);
    sound.currentTime = 1; sound.play();
    sound.playbackRate = parseFloat($('playback').value);

    $("startdiv").style.display = "none";
    $("leftdiv").style.display = "block";
    $("enddiv").style.display = "block";
    $("total").innerText = num*10;
}

function stop() {
    sound.pause();
}

function dur() {
    return $('sound').duration / $('sound').playbackRate;
}

function refresh() {
    const snd = $('sound');
    if (snd.currentTime == 0) {
        state.playbackTimes -= 1;
    }

    const secs_more = (state.playbackTimes - 1) * dur();
    const secs = parseInt(secs_more + ((snd.duration-snd.currentTime)/snd.playbackRate));
    const mins = Math.floor(secs/60);
    const hrs = Math.floor(mins/60);

    if (secs/dur() < 1 && sound.loop) {
        if ($("endsound").checked) {
            sound.loop = false;
            $("notice").innerText = "sound gonna end soon";
        } else {
            $("notice").innerText = "gonna end, but not ending sound";
        }
    }
    $("counter").innerText = "~ "+(state.playbackTimes*10);

    if (secs < 60) {
        $("ctime").innerText = secs + " secs";
    } else if (mins < 60) {
        $("ctime").innerText = mins + " mins " + (secs-(mins*60)) + " secs";
    } else {
        $("ctime").innerText = hrs + " hrs " + (mins-(hrs*60)) + " mins";
    }
}
        </script>
    </body>
</html>
